<style>
.container {
  margin-left: 2%;
}
.sub-container {
  margin-top: 2%;
  margin-left: 3%;
}
</style>
<div class="container">
  <h2>The following appointment has been added to your calendar.</h2>
  <div class="sub-container">
    <p><strong>Title:</strong> <%=title %></p>
    <p><strong>Description:</strong> <%=description %></p>
    <p><strong>Start:</strong> <%=start %></p>
    <p><strong>End:</strong><%=end %></p>
    <p><strong>Location:</strong> <%=location %></p>
    <br>
    <p><strong>Shared by:</strong> <%=shared %></p>
  </div>
</div>